<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>astros项目索引页</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta charset="UTF-8">
        <meta name="format-detection" content="telephone=no, email=no">
        
        <link rel="stylesheet" href="/__assets/css/astro-map.css">
    </head>
    <body>
        <div class="astro-wrap">
        <h1 class="title"><img src="/__assets/img/astro.png" alt="">项目前端产出物</h1>
        {{if des}}
        <div class="tips">
            <p>{{des.name}}简单描述：</p>
            <!-- <p>PRD: http://10.8.10.10/doc/moto/</p>
            <p>交互: http://10.8.10.10/doc/moto/23we</p> -->
            {{if des.product}}
            <p>产品经理: {{des.product}}</p>
            {{/if}}
            {{if des.wd}}
            <p>前端负责人: {{des.wd}}</p>
            {{/if}}
            {{if des.developer}}
            <p>后端负责人:{{des.developer}}</p>
            {{/if}}
        </div>
        {{/if}}
        {{each list as item}}
        <ul>
            <li class="map-items">
                <h3 class="items-title"><a href="{{item.url}}">{{item.title[0]}}</a></h3>
                <ul class="opc">
                    <li class="person-list">
                        <a href="javascript:;">
                            <span class="members-icon"><i class="i-member"></i></span>
                            人员列表
                        </a>
                        <div class="members" style="display:none">
                            <p>       
                                <span class="ui">UI</span>                     
                                {{each item.ui as name}}
                                    <em>{{name}}</em>
                                {{/each}}                           
                            </p>
                            <p>      
                                <span class="ux">UX</span>                     
                                {{each item.ux as name}}
                                    <em>{{name}}</em>
                                {{/each}}                         
                            </p>
                            <p>   
                                <span class="wd">WD</span>                        
                                {{each item.wd as name}}
                                    <em>{{name}}</em>
                                {{/each}}                           
                            </p>
                        </div>
                    </li>
                    <li><a href="javascript:;" data-url="{{item.url}}" class="view-code">
                        <span class="members-icon"><i class="i-code"></i></span>
                        查看源代码
                    </a></li>
                    <li class="time">
                        <a href="javascript:;">
                            <span class="members-icon"><i class="i-time"></i></span>
                            更新时间
                        </a>
                        <div class="updata" style="display:none">
                            <p>
                                创建时间
                                <span class="first">{{item.ctime[0]}}</span>
                            </p>
                            <!-- <p>
                                最后更新
                                <span class="last">2015-09-24 21:30:25</span>
                            </p> -->
                        </div>
                    </li>
                </ul>
                <a class="items-code qrcode" href="javascript:;" data-url="{{item.url}}"><i class="i-code2"></i>
                    <em class="code" style="display:none"></em>
                </a>
            </li>   
    
        </ul>
        {{/each}}
        <div class="dialog" style="display:none">
            <a href="javascript:;" class="closed"><i class="i-close"></i></a>
            <h3>源码</h3>
            <textarea class="d-content">            
            </textarea>
        </div>

        <script src="/__assets/js/jquery.1.11.3.min.js"></script>
        <script src="/__assets/js/jquery.qrcode.min.js"></script>
        <script src="/__assets/js/astro-map.js"></script>  
    </body>
</html>