/* css-less -> lib/reset */
html {
  width: 100%;
  height: 100%;
  font-family: roboto, STHeiti, arial, verdana, helvetica, sans-serif;
  line-height: 1.5;
  font-size: 62.5%;
  color: #333;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  font-weight: 300;
  font-size: 1.2rem;
  background-color: #f5f5f5;
  font-family: "Hiragino Sans GB W3", "微软雅黑";
}
/**
    兼容不同分辨率下的字体大小
**/
@media only screen and (min-width: 420px) {
  html {
    font-size: 75% ;
  }
}
@media only screen and (min-width: 540px) {
  html {
    font-size: 87.5% ;
  }
}
* {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body,
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td,
pre,
xmp {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
b {
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
button,
select,
small {
  font-size: 100%;
}
address,
cite,
dfn,
em,
i,
optgroup,
var {
  font-style: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: inherit;
}
ul,
ol,
menu {
  list-style: none;
}
fieldset,
img {
  border: none;
}
img,
object,
input,
textarea,
button,
select {
  vertical-align: top;
}
mark {
  background-color: #ff5a00;
}
article,
aside,
footer,
header,
section,
nav,
figure,
figcaption,
hgroup,
details,
menu {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
svg:not(:root) {
  overflow: hidden;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}
textarea {
  overflow: auto;
  resize: none;
}
textarea,
input {
  outline: none;
}
ins,
s,
u,
del {
  text-decoration: none;
}
a {
  color: #333;
  background: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
a:hover,
a:focus,
a:active,
a:visited {
  outline: none;
}
a:link {
  color: #666666;
}
a:active {
  color: #333;
}
a:visited {
  color: #333;
}
button {
  border: 0 none;
}
button::-moz-focus-inner {
  border: none;
}
button:focus {
  outline: none;
  /* for Firefox，IE8.0等 */
}
input[disabled] {
  background: #fafafa;
  color: #c2c2c2;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input::-moz-placeholder,
textarea::-moz-placeholder,
input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
input:input-placeholder,
textarea:input-placeholder {
  color: #8c8c8c;
}
::-ms-reveal {
  display: none;
}
:focus {
  outline: none;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
input,
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input:focus,
button:focus,
select:focus,
textarea:focus {
  -moz-outline: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input:focus,
textarea:focus {
  -webkit-user-modify: read-write-plaintext-only;
}
/* css-less -> /alidata/www/projectsvn/single_shop/components/layout/astro/astro.less */
/* css-less -> variables imported first */
/* css-less -> lib/basic imported first */
/* css-less -> lib/reset imported first */
body {
  background-color: #f7f7f7;
  color: #777777;
  line-height: 1.8;
  font-size: 14px;
}
.astro-wrap {
  width: 920px;
  margin: 0 auto;
}
.title {
  padding: 20px 0;
  font-size: 38px;
  font-family: "冬青黑体简体中文 W6";
  color: #535454;
  font-weight: 700;
  vertical-align: bottom;
}
.title img {
  margin-right: 10px;
}
/* FONT PATH
 * -------------------------- */
@font-face {
    font-family: 'icomoon';
    src:    url('/__assets/img/fonts/icomoon.eot?au2l40');
    src:    url('/__assets/img/fonts/icomoon.eot?au2l40#iefix') format('embedded-opentype'),
        url('/__assets/img/fonts/icomoon.ttf?au2l40') format('truetype'),
        url('/__assets/img/fonts/icomoon.woff?au2l40') format('woff'),
        url('/__assets/img/fonts/icomoon.svg?au2l40#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="i-"], [class*=" i-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.i-close:before {
    content: "\e904";
}
.i-code:before {
    content: "\e900";
}
.i-time:before {
    content: "\e901";
}
.i-member:before {
    content: "\e902";
}
.i-code2:before {
    content: "\e903";
}

.tips {
  background-color: #fff;
  padding: 20px 30px;
  font-size: 18px;
  margin-top: 50px;
}
.map-items{
  position: relative;
  display:inline-block;
  width:270px;
  border:1px #ececec solid;
  background-color:#fff;
  margin-right:20px;
  margin-bottom:20px;
}
.items-title{
  background-color:#45c1d4;
}
.items-title a{
  display:inline-block;
  width:100%;
  font-size:16px;
  padding:10px 0;
  color:#fff;
  text-align:center;
}
.items-title a:hover{
  text-decoration: underline;
}
.opc{
      *zoom:1;
}
.opc:after{
    content: "\0020"; display: block; height: 0; overflow: hidden; clear:both;
}
.opc li{
  position:relative;
  float:left;
  min-width:80px;
  width:33.33%;
  padding:5px 0;
  text-align:center;
  font-size:14px;
  margin:20px 0 30px;
}
.opc li a span{
  display:block;
  width:60px;
  height:60px;
  line-height:58px;
  margin: 0 auto;
  border:1px solid #ececec;
  border-radius:50%;
  background-color:#fff;
  font-size:20px;
  margin-bottom:5px;
}
.opc li a:hover span{
  background-color:#45c1d4;
  color:#fff;
}
.opc li .members{
  position:absolute;
  left:0;
  top:100px;
  width:270px;
  border:1px solid #45c1d4;
  background-color:#fff;
  z-index: 999;
}
.opc li .updata{
  position:absolute;
  right:0;
  top:100px;
  width:270px;
  border:1px solid #45c1d4;
  background-color:#fff;
  z-index: 999;
}
.opc li .members p,.opc li .updata p{
  margin:0 10px;
  border-bottom: 1px solid #ececec;
  padding:5px 10px;
}
.opc li .members p:last-child,.opc li .updata p:last-child{
  border-bottom:none;
}
.opc li .members:before{
  position:absolute;
  left:40px;
  top:-8px;
  content:" ";
  display: block;
  width:0;
  height:0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #45c1d4;
}
.opc li .members:after{
  position:absolute;
  left:40px;
  top:-7px;
  content:" ";
  display: block;
  width:0;
  height:0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
}
.opc li .updata:before{
  position:absolute;
  right:40px;
  top:-8px;
  content:" ";
  display: block;
  width:0;
  height:0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #45c1d4;
}
.opc li .updata:after{
  position:absolute;
  right:40px;
  top:-7px;
  content:" ";
  display: block;
  width:0;
  height:0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
}
.items-code{
  position:absolute;
  right:10px;
  top:15px;
}
.items-code i{
  font-size:16px;
  color: #fff;
}
.code{
  position:absolute;
  top:-80px;
  right:-100px;
  z-index: 999;
}
.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  width: 800px;
  height: 500px;
  margin-top: -300px;
  margin-left: -400px;
  background-color: #fff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  /* 兼容老版本firefox */
  padding: 40px 30px 30px;
  box-shadow: 0 2px 10px 7px rgba(231, 231, 231, 0.7);
}
.dialog .closed {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  /* 兼容老版本firefox */
  color: #ccc;
  font-weight: 100;
}
.dialog .closed:hover {
  color: #fc4556;
}
.dialog .d-content {
  height: 380px;
  width: 740px;
  overflow: auto;
  margin-top: 10px;
  border: 1px solid #e2e2e2;
  padding: 10px;
  background-color: #f7f7f7;
}
.dialog h3 {
  font-size: 20px;
  margin-top: -20px;
  color: #303030;
}